@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.sp {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  font-weight: 400;
}

.heading {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
  color: #64FFDA;
  font-size: 32px;
}

.heading::after {
  display: block;
  width: 40%;
  height: 2px;
  margin-top: 8px;
  background-color: #64FFDA;
  content: '';
}


/* === Inter Regular === */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-style: normal;
}

/* === Inter Bold === */
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-style: normal;
}

/* === Fira Code Regular === */
@font-face {
  font-family: 'Fira Code';
  font-weight: 400;
  src: url('./fonts/FiraCode/FiraCode-Regular.woff2') format('woff2');
  font-style: normal;
}

/* === Fira Code Bold === */
@font-face {
  font-family: 'Fira Code';
  font-weight: 700;
  src: url('./fonts/FiraCode/FiraCode-Bold.woff2') format('woff2');
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

a {
  display: inline-block;
  color: #ffffff;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  transition: 0.4s;
}

/*start header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 80px;
  background-color: rgba(10, 25, 47, 0.8);
}

.logo {
  display: flex;
  align-items: center;
  
}
.logo img {
  height: 64px;
  width: auto;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

header nav ul li {
  padding: 10px 0;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

header nav ul li+li {
  margin-left: 70px;
}

header nav ul li a {
  font-size: 16px;
}

header nav ul li:hover {
  border-bottom: 2px solid #64FFDA;
}

header nav ul li.active {
  color: #64FFDA;
}

header nav ul li:last-child {
  border-bottom: 2px solid transparent;
}


.resume-btn a {
  display: inline-block;
  position: relative;
  padding: 10px 18px;
  background: linear-gradient(to bottom, #7f00ff, #64ffda); /* ⬅ top to bottom */
  font-weight: 500;
  text-decoration: none;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  border-radius: 15px;
}

.resume-btn a::before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  z-index: 1;
  background-color: #0a192f; /* match your site’s background */
  content: "";
  border-radius: 15px;
}

.resume-btn a span {
  position: relative;
  z-index: 2;
}

.resume-btn a:hover {
  box-shadow: 0 0 4px 1px rgba(127, 0, 255, 0.4), 
              0 0 6px 1px rgba(100, 255, 218, 0.3); /* gradient-ish glow */
  color: #ffffff;
}

/*end header*/

/*start banner*/

.banner .container {
  display: flex;
  justify-content: space-between;
  padding: 150px 150px 150px 120px;
  z-index: 2;
}

.banner .container .left-banner {
 padding-top: 80px;
}

.banner .container .left-banner p:first-child{
  margin-bottom: 10px;
  margin-left: 3px;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  font-weight: 400;
}

.banner .container .left-banner h2 {   
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.banner .container .left-banner .designation {  
  color: #CCD6F6;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.banner .container .left-banner .designation:first-child {
  margin-bottom: 5px;
}

.banner .container .left-banner p small   {
  font-family: "Fira Code", monospace;
  font-size: 20px;
  font-weight: 700;
}

.banner .container .right-banner {
padding: 30px 0 0px 0px;
}

.banner .container .right-banner img{
height: auto;
max-width: 250px;
opacity: 0.9;
}

/*end banner*/

/*start experience*/
.exp .container {
  padding: 40px 150px 0px 150px;
  padding-top: 80px;
  background-color: #0A192F;
}

.exp .exp-list .exp-item {
  display: flex;
  justify-content: space-around;
  padding: 20px;
   border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 255, 255, 0.2), 
              0 0 15px rgba(0, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
}

.exp .exp-list .right-exp {
  padding-left: 50px;
}

.exp .exp-list .exp-date span {
  display: inline-block;
  width: 20px;
  height: 1px;
  margin-bottom: 5px;
  background-color: #ffffff;
}

.exp .exp-list .right-exp h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.exp-skills {
  display: flex;
  flex-wrap: wrap;
}
.exp-skills li {
  padding: 5px 10px;
  background-color: rgba(100, 255, 218, 0.3);
  color: #64FFDA;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
}


.right-exp p {
  line-height: 1.5;
  margin-top: 10px;
  color: #CCD6F6;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.right-exp .company {
  color: #ffffff;
  font-size: 16px;
}

.exp-skills {
  margin-top: 10px;
}

.exp-skills li+li {
  margin-left: 10px;
}

.exp-date {
  line-height: 1.5;
}

.exp-item+.exp-item {
  margin-top: 30px;
}

.left-exp {
  width: 5%;
}

.right-exp {
  width: 90%;
}

/*end experience*/

/*start education*/

.edu .container {
  padding: 80px 150px 0 150px;
  background-color: #0A192F;
}

.edu-item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 24px;
  background-color: #112240;
  transition: box-shadow 0.3s ease;
  border-left: 4px solid #64FFDA;
  border-radius: 10px;
  gap: 24px;
}

.edu-item+.edu-item {
   margin-top: 32px;
}

.edu-item:hover {
  box-shadow: 0 10px 20px rgba(100, 255, 218, 0.15);
}


.edu-item img {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 2px solid #64FFDA;
  border-radius: 10px;
}

.edu-content h3 {
  margin: 0 0 8px 0;
  font-size: 20px;
  /*color: #64FFDA;*/
}

.edu-content p {
  margin: 4px 0;
  color: #ccd6f6;
  font-size: 16px;
}

/*end education*/
/*start projects*/
.projects .container {
  padding: 80px 150px 60px 150px;
  background-color: #0A192F;
  color: #FFFFFF;
}

.projects .projects-list .project-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-image {
  width: 20%;
}

.project-content {
  padding-top: 10px;
  width: 80%;
  text-align: justify;
  padding-left: 15px;
}

.project-item {
    border: 1px transparent #808080;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.8;
}

.project-item:hover {
  box-shadow: 0 10px 20px rgba(100, 255, 218, 0.15);
  background-color: #112240;
  opacity: 1;
  cursor: pointer;
}

.project-item:hover .project-content h3 {
  color: #64FFDA;
}

.project-item img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.project-content h3 {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
  position: relative;
}

.project-content h3::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../img/link-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  position: absolute;
  top: 30%;
  transform: translateY(-30%);  
  transition: all 0.3s ease;
}

.project-content:hover h3:after {
  background-image: url('../img/link-arrow-hover.png');
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;  
}

.project-content p {
  color: #CCD6F6;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  line-height: 1.5;
}

.projects-list li+li {
  margin-top: 20px;
}

/*end projects*/

/*start contact*/

.contact .container {
  background-color: #0A192F;
}

.contact-inner {
  background-color: #112240;
  padding: 60px 150px 30px 150px;
  color: #FFFFFF;
  border-top-left-radius: 50%; 
  border-top-right-radius: 50%; 
  text-align: center;
}

.social-item {
  border: 2px solid #CCD6F6;
  border-radius: 50%;
}

.social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  width: 36px;
  height: 36px;
}

.social-item a img{
  width: 24px;
  height: auto;
  justify-content: center;
  opacity: 0.8;
}

.social-list {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.social-item+.social-item {
  margin-left: 30px;
}


.social-item:hover  {
  border-color: #64FFDA;
}

.social-item:hover a img {
  opacity: 1;
}

.contact .logo {
  display: block;
  justify-content: center;
  margin-bottom: 50px;
}

/*contact end*/

footer {
  padding: 20px 0;
  text-align: center;
  background-color: #112240;
}

footer p {
  color: #CCD6F6;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  font-weight: 400;
}

footer p:last-child {
  margin-top: 10px;
}











